<mat-spinner *ngIf="edit && !form.get('id')?.value"></mat-spinner>

<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start" *ngIf="!edit || form.get('id')?.value">

	<div class="mat-card" fxLayout="column" fxLayoutGap="20px" style="padding:20px;">

		<div class="mat-card-title" *ngIf="!edit">Create a Member Group</div>
		<div class="mat-card-title" *ngIf="edit">Update Member Group</div>
		<div class="mat-card-subtitle">Please provide the following details</div>

		<div fxFlex="40" id="form" fxLayout="column">

			<div fxLayout="column" fxLayoutGap="0px" [formGroup]="form">

				<mat-form-field fxFlex="50">
					<mat-label>Group name</mat-label>
					<input matInput formControlName="name" required>
				</mat-form-field>

				<mat-form-field fxFlex="50" style="padding-top:10px; width:400px;">
					<mat-label>Members</mat-label>
					<textarea matInput formControlName="members" cdkTextareaAutosize cdkAutosizeMinRows="6" cdkAutosizeMaxRows="20" required (ngModelChange)="validateMembers()"></textarea>
				</mat-form-field>
				<span style="font-size:10px; font-style: italic; padding-top:-10px; padding-bottom:20px;">
					(Email addresses - one perline)
				</span>

				<div *ngIf="errorList.length > 0" class="errorList">
					<div *ngFor="let error of errorList">
						{{error}}
					</div>
				</div>

				<div *ngIf="errorList.length > 0" style="padding:10px;"></div>

				<button class="submit_button" mat-raised-button color="primary" (click)="submitForm()" [disabled]="!form.valid">
					{{edit ? "UPDATE GROUP" : "CREATE GROUP"}}
				</button>

			</div>
		</div>
	</div>

</div>