<div fxLayout="column" fxlayoutalign="start center">

  <!--<div id="header" fxLayout="row" fxLayoutAlign="space-between center">

    <div fxLayout="row" fxLayoutAlign="start center" style="height:60px; margin-left:80px;">
      <span class="title">AIESEC Sri Lanka HRIS</span>
    </div>

    <div class="links" style="margin-right:20px;" fxLayoutGap="10px" fxLayout="row">
      <span *ngIf="!authService.logged" (click)="authService.login()">Log In</span>
      <span *ngIf="authService.logged" (click)="authService.logout()">Log Out</span>
    </div>
  </div>-->

  <div fxLayout="row" fxLayoutAlign="stretch stretch" style="z-index:999;">
    <div id="menu" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">

        <img alt="AIESEC man" src="assets/images/monophy.gif"/>

        <mat-icon *ngIf="authService.logged" [routerLink]="['/profile']"
                  [class.active] = "isActive('profile')"
                  matTooltip="Your profile" matTooltipPosition="after">
          face</mat-icon>

        <mat-icon *ngIf="authService.logged" [routerLink]="['/members']"
                  [class.active] = "isActive('members')"
                  matTooltip="Members" matTooltipPosition="after">
          people</mat-icon>

        <mat-icon *ngIf="authService.logged" [routerLink]="['/opportunities']"
                  [class.active] = "isActive('opportunities')"
                  matTooltip="Opportunities" matTooltipPosition="after">
          stars</mat-icon>

        <mat-icon *ngIf="authService.logged" [routerLink]="['/resources']"
                  [class.active] = "isActive('resources')"
                  matTooltip="Resources" matTooltipPosition="after">
          folder</mat-icon>

        <div *ngIf="authService.logged" style="padding-top:10px;"></div>

        <div style="border-top-style:solid; border-width:1px; border-color:#CCCCCC; margin:50px;">
          <span style="opacity:0;">dfdf</span>
        </div>

        <a href="https://hub.aiesec.lk" target="_blank">
          <mat-icon matTooltip="Infinity Hub" matTooltipPosition="after">
            all_inclusive</mat-icon>
        </a>

        <a href="https://one.aiesec.lk" target="_blank">
          <mat-icon matTooltip="AIESEC One" matTooltipPosition="after">
            brightness_auto</mat-icon>
        </a>

        <a href="https://analytics.aiesec.lk" target="_blank">
          <mat-icon matTooltip="Analytics" matTooltipPosition="after">
            auto_graph</mat-icon>
        </a>

        <a href="https://crm.aiesec.lk" target="_blank">
          <mat-icon matTooltip="CRM" matTooltipPosition="after">
            pie_chart</mat-icon>
        </a>

      </div>

      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px" style="padding-bottom:20px;">
        <mat-icon *ngIf="authService.logged" (click)="authService.logout()"
                  [class.active] = "isActive('logout')"
                  matTooltip="Log out" matTooltipPosition="after">
          logout</mat-icon>
      </div>

    </div>

    <div id="content" fxLayout="column" fxLayoutAlign="start center" fxFlex>
      <router-outlet></router-outlet>
    </div>

  </div>


</div>

