#header {
  background-color:white;
}

#menu img {
  width:50px;
}

.img-container {
  overflow: hidden;
  height: 100px;
  max-height: 300px;
  position: relative;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}


#header .title {
  color:#3a539b;
  font-weight:bold;
  font-size:16px;
}

#content {
}

.links span {
  font-weight:lighter;
  color:#3a539b;
}

.links span:hover {
  cursor:pointer;
  text-decoration:underline;
}

.bold {
  font-weight:bold;
}

::ng-deep .mat-card{
  border-top-width:5px;
  border-top-style:solid;
  border-top-color:#3a539b;
}

#menu {
  position:fixed;
  top:0px;
  left:0px;
  background-color:#3B4F96;
  padding:5px;
  width:60px;
  font-size:30px;
  min-height:100%;
}

#menu .mat-icon {
  color: #8ca5ec;
  height:30px !important;
  width:30px !important;
  transition: all 0.3s;
  cursor:pointer;
}

#menu .mat-icon:hover {
  color:white;
}

#menu .material-icons {
  font-size:30px;
}

.active {
  color:white !important;
}

#bug_report {
  position:fixed;
  bottom:20px;
  right:20px;
  background-color:#3a539b;
  border-radius:100px;
  width:50px;
  height:50px;
  font-size:20px;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition:all 0.3s;
}

#bug_report mat-icon {
  color:white;
  transform: scale(1);
}

#bug_report:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color:#3a476d;
}
