#header {
  background-color:#3a539b;
}

#header img {
  width:100px;
  margin-left:-20px;
}

#header .title {
  color:white;
  font-weight:bold;
  font-size:16px;
}

#content {
  margin:10px;
}

.links span {
  font-weight:lighter;
  color:white;
}

.links span:hover {
  cursor:pointer;
  text-decoration:underline;
}
