::ng-deep mat-header-cell, mat-cell {
  justify-content: center !important;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 15px 15px;
}

::ng-deep th.mat-header-cell, td.mat-footer-cell {
  padding:15px !important;
  color:white;
}

::ng-deep tr.mat-header-row {
  background-color: #3a539b;
  color:white;
}

a {
  color:black;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

::ng-deep .mat-icon {
  margin-top:5px;
}

::ng-deep .mat-icon:hover {
  color:#3a539b;
}

::ng-deep tr.mat-row:hover {
  background-color:#EEEEEE;
}

.mat-column-name {
  min-width: 200px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-current_status {
  min-width: 150px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.mat-column-functions {
  min-width: 200px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-roles {
  min-width: 100px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-faculty {
  min-width: 100px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-entity {
  min-width: 200px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-expa_id {
  min-width: 75px;
  max-width: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-profile {
  min-width: 25px;
  max-width: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-PROBATION { background-color:#f39c12; }
.btn-TERMINATED { background-color:#c0392b; }
.btn-ALUMNI { background-color:#674172; }

::ng-deep td .mat-select-min-line {
	display:none !important;
	color:red !important;
}

