.opportunity {
  color:white;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  padding:20px;
  height:100%;
  text-align: center;
  min-height:200px;
}

.opportunity:hover {
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  cursor:pointer;
  background-size:120%;
}

.mat-card {
  border:none;
}

.opportunity_x {
  width:370px;
}

.mat-card-title {
  line-height:30px;
}

@media only screen and (max-width: 960px) {
  .opportunity {
    width:100%;
  }
}
