<mat-spinner *ngIf="!member"></mat-spinner>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayout="center center">

  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" style="padding:0; border:none;" *ngIf="member">

    <img src="{{member.photo}}" class="profile_photo" style="border-radius:5px;"/>

    <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="member.social_media" fxHide.lt-md>

      <div class="mat-card-title" style="font-size:18px;">Social Media</div>

      <div fxLayout="row" fxLayoutGap="20px" style="margin-top:20px; margin-bottom:20px;">

        <a *ngIf="member.social_media.facebook || memberService.canEdit(member)" href="{{member.social_media.facebook}}" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" width="20px"/>
        </a>


        <a *ngIf="member.social_media.instagram || memberService.canEdit(member)" href="{{member.social_media.instagram}}" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" width="20px"/>
        </a>

        <a *ngIf="member.social_media.linked_in || memberService.canEdit(member)" href="{{member.social_media.linked_in}}" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="20px"/>
        </a>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" style="margin-top:20px; margin-bottom:20px;">
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.facebook')">edit</mat-icon>
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.instagram')">edit</mat-icon>
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.linked_in')">edit</mat-icon>
      </div>

    </div>

    <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="member.field_of_study" fxHide.lt-md>

      <div class="mat-card-title" style="font-size:18px;">Education</div>

      <div fxlayout="row" fxLayoutGap="20px" *ngIf="member.faculty || memberService.canEdit(member)">
        <div class="item_name">Faculty</div>
        <div>{{member.faculty}}
          <mat-icon *ngIf="authService.isEBOrAbove()" (click)="edit('faculty')">edit</mat-icon>
        </div>
      </div>

      <div fxlayout="row" fxLayoutGap="20px" *ngIf="member.field_of_study || memberService.canEdit(member)">
        <div class="item_name">Field of Study</div>
        <div>{{member.field_of_study}}
          <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('field_of_study')">edit</mat-icon>
        </div>
      </div>

    </div>
  </div>

  <div class="mat-card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="member"
       style="padding:20px;">
    <div class="mat-card-title">{{member.name}}
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Entity</div>
      <div>AIESEC in {{member.entity}}</div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Expa ID</div>
      <div>{{member.expa_id}}
        <mat-icon *ngIf="authService.isEBOrAbove()" (click)="edit('expa_id')">edit</mat-icon>
      </div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px" *ngIf="member.joined_date || memberService.canEdit(member)">
      <div class="item_name">Joined Date</div>
      <div>{{member.joined_date}}
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('joined_date')">edit</mat-icon>
      </div>
    </div>


    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Email Address</div>
      <div>{{member.email}}</div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px" *ngIf="member.phone || member.phone2 || memberService.canEdit(member)">
      <div class="item_name">Contact No.</div>
      <div *ngIf="member.phone">{{member.phone}}
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('phone')">edit</mat-icon>
      </div>
      <div *ngIf="member.phone2">{{member.phone2}}
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('phone2')">edit</mat-icon>
      </div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px" *ngIf="member.address || memberService.canEdit(member)">
      <div class="item_name">Address</div>
      <div>{{member.address}}
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('address')">edit</mat-icon>
      </div>
    </div>


    <div fxlayout="row" fxLayoutGap="20px" *ngIf="member.dob || memberService.canEdit(member)">
      <div class="item_name">Date of Birth</div>
      <div>{{member.dob}}
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('dob')">edit</mat-icon>
      </div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Gender</div>
      <div>{{member.gender}}</div>
    </div>

  </div>

  <div class="mat-card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="member && memberService.getPositions(member)"
       style="padding:20px;" >

    <div class="mat-card-title" style="font-size:18px">Positions</div>

    <div *ngFor="let position of memberService.getPositions(member)">
      <div class="position_name">
        <span>{{position.name}}</span>
        <span *ngIf="position.function"> - {{position.function}}</span>
        <mat-icon *ngIf="memberService.canEdit(member) && position.type == 'unofficial'"
                  (click)="memberService.deletePosition(member, position)" style="color:#777777; margin-left:5px;">close</mat-icon>
      </div>
      <div class="item_name">AIESEC in {{position.entity}}</div>
      <div class="item_name">
        {{position.start_date}} to {{position.end_date}}
      </div>
    </div>

    <button class="membership_status" mat-flat-button (click)="addNewPosition()" *ngIf="memberService.canEdit(member)">
      <mat-icon style="color:#3a539b; margin-left:0;">add</mat-icon>
      Add new position
    </button>


  </div>

  <div class="mat-card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="member"
       style="padding:20px;">

    <div fxLayout="row" fxLayoutGap="20px">

      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px" *ngIf="!authService.isEBOrAbove()">
        <div style="font-size:10px;">Current membership status</div>
        <button class="membership_status" mat-flat-button color="primary" [class]="'btn-'+member.current_status">
          {{member.current_status}}
        </button>

      </div>


      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px" *ngIf="authService.isEBOrAbove()">
        <div style="font-size:10px;">Current membership status</div>
        <button class="membership_status" mat-flat-button color="primary" (click)=currentStatusSelect.open()
                [class]="'btn-'+member.current_status">
          {{member.current_status}}
        </button>

        <mat-select
          #currentStatusSelect
          class="selectHide" (selectionChange)="memberService.changeCurrentStatus(member, $event.value)">

          <mat-option *ngFor="let status of CurrentStatus | keyvalue" [value]="status.value" style="font-size:12px;">
            {{status.value}}
          </mat-option>
        </mat-select>

      </div>

      <!--
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px">
        <div style="font-size:10px;">Full membership status</div>
        <button class="membership_status" mat-flat-button color="primary">Active</button>
      </div>
      -->

    </div>


    <div class="mat-card-title" style="font-size:18px" *ngIf="member.cv || member.attachments">Attachments</div>

    <div fxLayout="column" fxLayoutGap="10px" style="padding-bottom:10px !important;">

        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" *ngIf="member.cv">
          <a href="{{member.cv}}" target="_blank" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
            <mat-icon style="color:#3a539b; margin-left:0px !important;">check_circle_outline</mat-icon>
            <div style="font-size:12px;">Curriculum Vitae</div>
          </a>
        </div>

      <div *ngFor="let attachment of member.attachments">
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <a href="{{attachment.value}}" target="_blank" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
              <mat-icon style="color:#3a539b; margin-left:0px !important;">check_circle_outline</mat-icon>
              <div style="font-size:12px;">{{attachment.name}}</div>
            </a>
            <mat-icon *ngIf="memberService.canEdit(member)" (click)="memberService.deleteAttachment(member, attachment)" style="color:#777777">close</mat-icon>
          </div>
      </div>

      <button class="membership_status" mat-flat-button (click)="addNewAttachment()" *ngIf="memberService.canEdit(member)">
        <mat-icon style="color:#3a539b; margin-left:0;">add</mat-icon>
        Add new attachment
      </button>

    </div>



    <div class="mat-card-title" style="font-size:18px" *ngIf="member.tags">Tags</div>

    <div fxlayout="row" fxLayoutGap="20px">

      <div fxLayout="row wrap" fxLayoutGap="10px" style="max-width:200px;">
        <div *ngFor="let tag of member.tags" class="tag" fxLayout="row" fxLayoutAlign="center center">
          {{tag}}
          <mat-icon *ngIf="authService.isEBOrAbove()" (click)="memberService.deleteTag(member, tag)" style="color:white; margin-left:5px">close</mat-icon>
        </div>
      </div>

      <button class="membership_status" mat-flat-button (click)="addTag()" *ngIf="authService.isEBOrAbove()">
        <mat-icon style="color:#3a539b; margin-left:0;">add</mat-icon>
        Add new tag
      </button>


    </div>

  </div>

  <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="member && member.social_media" fxHide.gt-sm>

    <div class="mat-card-title" style="font-size:18px;">Social Media</div>

    <div fxLayout="row" fxLayoutGap="20px" style="margin-top:20px; margin-bottom:20px;">

      <a *ngIf="member.social_media.facebook || memberService.canEdit(member)" href="{{member.social_media.facebook}}" target="_blank">
        <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" width="20px"/>
      </a>

      <a *ngIf="member.social_media.instagram || memberService.canEdit(member)" href="{{member.social_media.instagram}}" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" width="20px"/>
      </a>

      <a *ngIf="member.social_media.linked_in || memberService.canEdit(member)" href="{{member.social_media.linked_in}}" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="20px"/>
      </a>

    </div>

    <div fxLayout="row" fxLayoutGap="20px" style="margin-top:20px; margin-bottom:20px;">
      <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.facebook')">edit</mat-icon>
      <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.instagram')">edit</mat-icon>
      <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.linked_in')">edit</mat-icon>
    </div>

  </div>

  <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="member && member.field_of_study" fxHide.gt-sm>

    <div class="mat-card-title" style="font-size:18px;">Education</div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Faculty</div>
      <div>{{member.faculty}}
        <mat-icon *ngIf="authService.isEBOrAbove()" (click)="edit('faculty')">edit</mat-icon>
      </div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Field of Study</div>
      <div>{{member?.field_of_study}}
        <mat-icon *ngIf="authService.isEBOrAbove()" (click)="edit('field_of_study')">edit</mat-icon>
      </div>
    </div>

  </div>
</div>

