<mat-spinner *ngIf="!member"></mat-spinner>

<div fxLayout="row" fxLayoutGap="20px" fxLayout="start start">

  <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="stretch stretch" style="padding:0; border:none;" *ngIf="member">

    <img src="{{member.photo}}" width="200px;" style="border-radius:5px;"/>

    <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="member.social_media">

      <div class="mat-card-title" style="font-size:18px;">Social Media</div>

      <div fxLayout="row" fxLayoutGap="20px" style="margin-top:20px; margin-bottom:20px;">

        <a *ngIf="member.social_media.facebook || memberService.canEdit(member)" href="{{member.social_media.facebook}}" target="_blank">
          <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png" width="20px"/>
        </a>


        <a *ngIf="member.social_media.instagram || memberService.canEdit(member)" href="{{member.social_media.instagram}}" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png" width="20px"/>
        </a>

        <a *ngIf="member.social_media.linked_in || memberService.canEdit(member)" href="{{member.social_media.linked_in}}" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="20px"/>
        </a>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" style="margin-top:20px; margin-bottom:20px;">
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.facebook')">edit</mat-icon>
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.instagram')">edit</mat-icon>
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('social_media.linked_in')">edit</mat-icon>
      </div>

    </div>
  </div>

  <div class="mat-card" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px" *ngIf="member"
       style="padding:20px;">
    <div class="mat-card-title">{{member.name}}
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Entity</div>
      <div>AIESEC in {{member.entity}}</div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Expa ID</div>
      <div>{{member.expa_id}}
        <mat-icon *ngIf="memberService.canEdit(member)" (click)="edit('expa_id')">edit</mat-icon>
      </div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Email Address</div>
      <div>{{member.email}}</div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Contact No.</div>
      <div>{{member.phone}}</div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Date of Birth</div>
      <div>{{member.dob}}</div>
    </div>

    <div fxlayout="row" fxLayoutGap="20px">
      <div class="item_name">Gender</div>
      <div>{{member.gender}}</div>
    </div>

  </div>

  <div class="mat-card" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px" *ngIf="member"
       style="padding:20px;">

    <div fxLayout="row" fxLayoutGap="20px">

      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px">
        <div style="font-size:10px;">Current membership status</div>
        <button class="membership_status" mat-flat-button color="primary" (click)=currentStatusSelect.open()
                [class]="'btn-'+member.current_status">
          {{member.current_status}}
        </button>

        <mat-select
          #currentStatusSelect
          class="selectHide" (selectionChange)="memberService.changeCurrentStatus(member, $event.value)">

          <mat-option *ngFor="let status of CurrentStatus | keyvalue" [value]="status.value" style="font-size:12px;">
            {{status.value}}
          </mat-option>
        </mat-select>

      </div>

      <!--
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0px">
        <div style="font-size:10px;">Full membership status</div>
        <button class="membership_status" mat-flat-button color="primary">Active</button>
      </div>
      -->

    </div>

    <div class="mat-card-title" style="font-size:18px">Positions</div>

    <div *ngFor="let position of member.positions">
      <div class="position_name">{{position.name}}</div>
      <div class="item_name">AIESEC in {{position.entity}}</div>
      <div class="item_name">
        {{position.start_date}} to {{position.end_date}}
      </div>
    </div>



</div>
