<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">

  <div class="mat-card" fxLayout="column" fxLayoutGap="20px" style="padding:0; border:none;">
    <img src="{{getImageUrl() || photo}}" width="200px;" style="border-radius:5px;"/>
  </div>

  <div class="mat-card" fxLayout="column" fxLayoutGap="20px" style="padding:20px;">

    <div class="mat-card-title">Looks like this is your first time logging in.</div>
    <div class="mat-card-subtitle">Please provide us with a few information to get your profile set up.</div>

    <div fxFlex="40" id="form" fxLayout="column">

      <div fxLayout="column" fxLayoutGap="0px" [formGroup]="form">

        <mat-form-field fxFlex="50">
          <mat-label>Field of Study</mat-label>
          <input matInput formControlName="field_of_study" required>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px" style="padding-bottom:20px; padding-top:10px;">

          <input hidden type="file" accept="image/png, image/jpeg" class="file-input" formControlName="photo_x"
                 (change)="onFileSelected($event, 'photo')" #photoFileUpload required>

          <div class="file-upload" fxLayout="column" fxLayoutGap="10px">
            <mat-label class="label">Upload a high qualty photo of yourself *</mat-label>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <button [class.mat-elevation-z0]="true" mat-mini-fab color="primary" class="upload-btn" (click)="photoFileUpload.click()">
                <mat-icon >attach_file</mat-icon>
              </button>
              <div style="font-size:12px;">
                {{ formData.photo || "" }}
              </div>
            </div>

          </div>

        </div>

        <div fxLayout="row" fxLayoutGap="20px" style="padding-bottom:20px;">

          <input hidden type="file" accept=".pdf" class="file-input" formControlName="cv_x"
                 (change)="onFileSelected($event, 'cv')" #cvFileUpload>

          <div class="file-upload" fxLayout="column" fxLayoutGap="10px">
            <mat-label class="label">Upload your CV</mat-label>

            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <button [class.mat-elevation-z0]="true" mat-mini-fab color="primary" class="upload-btn" (click)="cvFileUpload.click()">
                <mat-icon >attach_file</mat-icon>
              </button>
              <div style="font-size:12px;">
                {{ formData.cv || "" }}
              </div>
            </div>

          </div>

        </div>

        <mat-form-field fxFlex="50">
          <mat-label>EXPA login email address</mat-label>
          <input matInput formControlName="expa_email">
        </mat-form-field>

        <div class="mat-card-title" style="font-size:18px; padding-top:20px;">Social Media Links</div>
        <mat-form-field fxFlex="50">
          <mat-label>Facebook</mat-label>
          <span matPrefix>FB&nbsp;&nbsp;</span>
          <input matInput formControlName="facebook">
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <mat-label>Instagram</mat-label>
          <span matPrefix>IG&nbsp;&nbsp;</span>
          <input matInput formControlName="instagram">
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <mat-label>LinkedIn</mat-label>
          <span matPrefix>Ln&nbsp;&nbsp;</span>
          <input matInput formControlName="linked_in">
        </mat-form-field>



        <button class="submit_button" mat-raised-button color="primary"  (click)="submitForm()" [disabled]="!form.valid">
          CREATE PROFILE
        </button>

      </div>
    </div>
  </div>

</div>
