<mat-spinner *ngIf="!submission"></mat-spinner>

<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="stretch stretch">

  <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px; " *ngIf="submission">

    <div class="mat-card-title" style="font-size:40px; padding-top:10px; padding-bottom:20px; line-height:50px;">{{submission.title}}</div>

    <div [innerHTML]="submission.description" style="word-wrap: break-spaces">
    </div>

    <div fxFlex="100"></div>

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="stretch stretch" fxLayoutGap="20px">
      <div fxlayout="row" fxLayoutGap="20px">
        <div class="item_name">Submission deadline</div>
        <div>{{submission.deadline}}</div>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">

        <a href="{{submission.submissionLink}}" target="_blank">
          <button mat-flat-button color="primary">
            OPEN FORM
          </button>
        </a>


        <a routerLink="/submission/edit/{{submission.id}}"
           *ngIf="authService.isAdmin() || (authService.isEBOrAbove() && submission.entity == authService.getEntity())">
          <button mat-flat-button color="primary">
            EDIT
          </button>
        </a>

        <button mat-flat-button color="warn" (click)="delete(submission)"
                *ngIf="authService.isAdmin() || (authService.isEBOrAbove() && submission.entity == authService.getEntity())">
          DELETE
        </button>

      </div>

    </div>

  </div>

  <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="submission && (authService.isAdmin() || (authService.isEBOrAbove() && submission.entity == authService.getEntity()))">

    <div class="mat-card-title" style="font-size:30px; padding-top:10px; padding-bottom:0px; line-height:50px;">Not Submitted</div>

    <table>
      <tr *ngFor="let email of submissionService.getNotSubmitted(this.submission)">
        <td>{{email}}</td>
      </tr>
    </table>

    <button mat-flat-button color="primary" (click)="submissionService.sendReminder(submission)"
            *ngIf="authService.isAdmin() || (authService.isEBOrAbove() && submission.entity == authService.getEntity())">
      SEND REMINDER
    </button>


  </div>

    <div class="mat-card" fxLayout="column" fxLayoutGap="10px" style="padding:20px;" *ngIf="submission">

    <iframe [src]="getSubmissionEmbedLink() | safe:'resourceUrl'"  width="640px;" height="1000px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

  </div>

</div>
